doctype html
html
	head
		link(rel='stylesheet', href='../stylesheets/style.css')
	body
		div(style='display:inline-block')
			img(src='../../images/RBlogo.jpg')
			a(href='/', style="margin-bottom: 5rem") Home
			|
			|
			a(href='/dashboard', style="margin-bottom: 5rem") Dashboard
			
		br
		br