doctype html
html
	head
		link(rel="stylesheet" type="text/css" href="/stylesheets/style.css")
		link(rel="stylesheet" type="text/css" href="https://js.api.here.com/v3/3.1/mapsjs-ui.css")
		style.
			html, body { border: 0; margin: 0; padding: 0; }
			#map { height: 100vh; width: 100vw; }

	body

		include vw-dashboard.pug

		p #{title}

		div(style="display:none")
			form#cstLstDtl(action='/cstLstDtl/cstLstDtl' method='POST' accept-charset="UTF-8" style="display:block")
				div(style="display:block")
					label.input-label-1(for='tblQry') Query nhCstLstDtl MySQL table
					textarea#tblQry.input-unit-1(name="tblQryPost", cols="30", rows="1", wrap="soft") SELECT * FROM nhCstLstDtlYYYMMDD LIMIT 10
					button(type='submit', form='cstLstDtl', style="display: block; float: left") POST

		if gcdrResults !== undefined
			div#map
			label(style="display:none", for='mapData') Map data
				input(style="display:none", type='text', value=gcdrResults)#mapData
			label(style="display:none", for='latLongData') Lat/Long data
				input(style="display:none", type='text', value=latLongArr)#latLongData
			label(style="display:none", for='apiKey') API Key
				input(style="display:none", type='text', value=apiKey)#apiKey
			//- include includes/custPlusAddrMap.html


		script(src='https://js.api.here.com/v3/3.1/mapsjs-core.js')
		script(src='https://js.api.here.com/v3/3.1/mapsjs-service.js')
		script(src='https://js.api.here.com/v3/3.1/mapsjs-ui.js')
		script(src='https://js.api.here.com/v3/3.1/mapsjs-mapevents.js')
		script(src='https://js.api.here.com/v3/3.1/mapsjs-clustering.js')
		script(src='/jsModules_t0d/mapData1.js')

