doctype html
html
	head
		link(rel="stylesheet" type="text/css" href="/stylesheets/style.css")

	body

		include vw-dashboard.pug

		p #{title}

		div(style="display:block")
			form#cstLstDtl(action='/cstLstDtl/cstLstDtl' method='POST' accept-charset="UTF-8" style="display:block")
				div(style="display:block")
					label.input-label-1(for='tblQry') Query nhCstLstDtl MySQL table
					textarea#tblQry.input-unit-1(name="tblQryPost", cols="30", rows="1", wrap="soft") SELECT * FROM nhCstLstDtl20200929 LIMIT 1
					button(type='submit', form='cstLstDtl', style="display: block; float: left") POST

		if gcdrResults !== undefined
			label.input-label-1(for='mapData') Map data
				input#mapData.input-unit-1(type='text', value=gcdrResults)
			label.input-label-1(for='latLongData') Lat/Long data
				input#latLongData.input-unit-1(type='text', value=latLongArr)
			label.input-label-1(for='apiKey') API Key
				input#apiKey.input-unit-1(type='text', value=apiKey)
			include includes/custPlusAddrMap.html


		script(src='/jsModules_t0d/mapData1.js')

