doctype html
html
	head
		link(rel='stylesheet', href='../stylesheets/style.css')
		title= title

	body
		include partials/header.pug
		div(style='display:block; margin:0 0 2.5rem 0')
			|
			|
			a(href='/tsqlTableHub', style="margin-bottom: 5rem") T-SQL Table Hub
			|
			|
			a(href='/MySqlTableHub', style="margin-bottom: 5rem") MySQL Table Hub
			|
			|
			a(href='/v_InventoryMaster_query', style="margin-bottom: 5rem") Query v_InventoryMaster Table
			|
			|
			a(href='/rainbowCatTableHub', style="margin-bottom: 5rem") rainbowCat Table Hub
			//- |
			//- |
			//- a(href="/compareUnequalLists") Compare (unequal) Lists
			|
			|
			a(href="/imwGenerator") IMW Generator
			|
			|
			a(href="/signFilterChecker") sfAud
			|
			|
			a(href="/stockFilter_UPC") StockFilterUPC
			|
			|
			a(href="/sfUPC_w_RBinvUpdater") sfUPCrbInv
			|
			|
			a(href="/pcwGen") pcwGen
			|
			|
			a(href="/pcwGenINFRA") pcwGenINFRA
			|
			|
			a(href="/compareUnequalLists") Compare (unequal) Lists
			|
			|
			a(href="/rbInvUpdater") rbInvUpdater
			|
			|
			a(href="/imwUnitType") imwUnitType
			|
			|
			a(href="/minShelfQty") minShelfQty
			|
			|
			a(href="/rbCatUpdtTrkr") rbCatUpdtTrkr
			|
			|
			a(href="/keheUnfiWSdiff") keheUnfiWSdiff
			|
			|
			a(href="/keheSelectWSdiff") keheSelectWSdiff
			|
			|
			a(href="/optItemSales") optItemSales
			|
			|
			a(href="/venProf") venProf



			h3(style="margin-top: 0")= title

