doctype html
html
	head
		link(rel="stylesheet" type="text/css" href="/stylesheets/style.css")

	body
		include vw-dashboard.pug
		div.rslt-tbl-1
			table#resTbl
				thead
					tr
						th Table Name
						//- th Table Owner
						//- th Table Name
						//- th Table Type
						//- th Table Remarks

				tbody#resTblBdy
					if rbTables !== undefined
						each elmnt in rbTables
							tr
								td= elmnt.tableName
								//- td= elmnt.tableOwner
								//- td= elmnt.tableName
								//- td= elmnt.tableType
								//- td= elmnt.tableRemarks



